<!DOCTYPE html>
<html>
<head>
<title>im.notification</title>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

<link rel="stylesheet" href="../commons/css/font/iconfont.css" />
<link rel="stylesheet" href="../commons/css/awsui.css" />
<script src="../commons/js/jquery/scripts/jquery.js"></script>
<script src="../commons/js/awsui.js"></script>

</head>
<body>
</body>
<script>
	//jQuery的页面加载后事件
	//$(document).ready(function(){ })
	$(function() {
		var url = "<#url>";
		if(url == ""){
			url="../notfound.jsp";
		}
		window.location.href=url;
	});

</script>
</html>